
/**
 * Salesforce Marketing Cloud logo.
 */

.logo[data-logo="Salesforce Marketing Cloud"] {
  width: 0;
}

.logo[data-logo="Salesforce Marketing Cloud"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="Salesforce Marketing Cloud"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="Salesforce Marketing Cloud"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
